Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

refactor: resolve pre-existing lint warnings
  src/components/GameRow.tsx
  src/components/PlayerScoresTable.tsx
  src/components/Score.test.tsx
  src/components/Score.tsx
  src/components/ScorePopover.tsx
  src/hooks/useData.ts
  src/util.ts
Due: none

chore: add project CLAUDE.md, check script, and pin Node
  .nvmrc
  CLAUDE.md
  package.json
Due: prettier, test

chore: add project CLAUDE.md, check script, and pin Node (#12)
  .nvmrc
  CLAUDE.md
  package.json
Due: prettier, test

chore(deps-dev): bump @eslint/js from 9.26.0 to 9.39.5
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps-dev): bump globals from 16.1.0 to 17.7.0
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps-dev): bump eslint-plugin-react-hooks from 5.2.0 to 7.1.1
  package.json
  pnpm-lock.yaml
Due: prettier, test

refactor: render score icon via createElement to satisfy react-hooks static-components rule
  src/components/Score.tsx
Due: none

chore(deps): bump the minor-and-patch group with 12 updates
  package.json
  pnpm-lock.yaml
Due: prettier, test

build: pin Node 22 via engines and netlify config
  netlify.toml
  package.json
Due: prettier, test

ci: gate typecheck in CI
  .github/workflows/ci.yml
  CLAUDE.md
Due: prettier

docs: add AGENTS.md pointing to CLAUDE.md
  AGENTS.md
Due: prettier

chore: share Claude Code permission allowlist
  .claude/settings.json
  .gitignore
Due: prettier, test

ci: gate typecheck and add shared agent tooling config (#13)
  .claude/settings.json
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  netlify.toml
  package.json
Due: prettier, test

feat(ui): add tabletop theme, accessible score bars, and load states
  src/App.test.tsx
  src/App.tsx
  src/assets/bgg.svg
  src/assets/styles.css
  src/components/Header.tsx
  src/components/Score.test.tsx
  src/components/Score.tsx
  src/hooks/useData.test.ts
  src/hooks/useData.ts
  src/types.ts
  src/util.test.ts
  src/util.ts
Due: prettier

feat(ui): add tabletop theme, accessible score bars, and load states (#14)
  src/App.test.tsx
  src/App.tsx
  src/assets/bgg.svg
  src/assets/styles.css
  src/components/Header.tsx
  src/components/Score.test.tsx
  src/components/Score.tsx
  src/hooks/useData.test.ts
  src/hooks/useData.ts
  src/types.ts
  src/util.test.ts
  src/util.ts
Due: prettier

feat(ui): redesign leaderboard as a component-tray layout
  src/App.tsx
  src/assets/styles.css
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/GamesTable.test.tsx
  src/components/GamesTable.tsx
  src/components/Header.tsx
  src/components/PlayedCounter.test.tsx
  src/components/PlayedCounter.tsx
  src/components/ScorePopover.tsx
  src/lib/colors.test.ts
  src/lib/colors.ts
Due: prettier

feat(ui): align game-detail controls with tray theme and color chips by score
  src/assets/bgg.svg
  src/assets/styles.css
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/Header.tsx
Due: prettier

feat(ui): restyle the player filter as a tray control
  src/assets/styles.css
  src/components/Filters.tsx
Due: prettier

feat(ui): redesign leaderboard as a component-tray layout (#15)
  src/App.tsx
  src/assets/bgg.svg
  src/assets/styles.css
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/GamesTable.test.tsx
  src/components/GamesTable.tsx
  src/components/Header.tsx
  src/components/PlayedCounter.test.tsx
  src/components/PlayedCounter.tsx
  src/components/ScorePopover.tsx
  src/lib/colors.test.ts
  src/lib/colors.ts
Due: prettier

feat(ui): custom player filter with consistent palette-ordered name colors
  src/App.tsx
  src/assets/styles.css
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.tsx
  src/components/PlayerFilter.test.tsx
  src/components/PlayerFilter.tsx
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
  src/components/PlayerScoresTable.tsx
  src/components/ScorePopover.tsx
  src/lib/colors.test.ts
  src/lib/colors.ts
Due: prettier

feat(ui): custom player filter with consistent palette-ordered name colors (#16)
  src/App.tsx
  src/assets/styles.css
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.tsx
  src/components/PlayerFilter.test.tsx
  src/components/PlayerFilter.tsx
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
  src/components/PlayerScoresTable.tsx
  src/components/ScorePopover.tsx
  src/lib/colors.test.ts
  src/lib/colors.ts
Due: prettier

chore: exclude generated pnpm-lock.yaml from Prettier checks
  .prettierignore
Due: none

chore: exclude generated pnpm-lock.yaml from Prettier checks (#22)
  .prettierignore
Due: none

docs: plan for making the app stateful on Netlify DB + Functions
  PLAN.md
Due: prettier

docs: plan for making the app stateful on Netlify DB + Functions (#23)
  PLAN.md
Due: prettier

build: add Dockerfile and backend docs
  .dockerignore
  Dockerfile
  README.md
Due: prettier

feat(server): add Hono backend skeleton with Discord auth, roles and migrations
  .env.example
  .gitignore
  .prettierignore
  drizzle.config.ts
  drizzle/0000_slim_steve_rogers.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  server/app.test.ts
  server/app.ts
  server/auth.test.ts
  server/auth.ts
  server/db/index.ts
  server/db/schema.ts
  server/env.test.ts
  server/env.ts
  server/index.ts
  server/middleware.test.ts
  server/middleware.ts
  server/migrate.ts
  server/static.ts
  server/types.ts
  tsconfig.node.json
  tsup.config.ts
  vite.config.ts
Due: prettier, eslint, test

fix(server): forward refreshed session cookie and reject placeholder auth secret
  README.md
  server/app.test.ts
  server/auth.test.ts
  server/auth.ts
  server/env.test.ts
  server/env.ts
  server/middleware.ts
  server/types.ts
Due: prettier

feat(server): add Hono backend skeleton with Discord login (#36)
  .dockerignore
  .env.example
  .gitignore
  .prettierignore
  Dockerfile
  README.md
  drizzle.config.ts
  drizzle/0000_slim_steve_rogers.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  server/app.test.ts
  server/app.ts
  server/auth.test.ts
  server/auth.ts
  server/db/index.ts
  server/db/schema.ts
  server/env.test.ts
  server/env.ts
  server/index.ts
  server/middleware.test.ts
  server/middleware.ts
  server/migrate.ts
  server/static.ts
  server/types.ts
  tsconfig.node.json
  tsup.config.ts
  vite.config.ts
Due: prettier, eslint, test

test: cover remaining server and web coverage gaps
  server/auth.test.ts
  server/static.test.ts
  src/App.test.tsx
  src/components/Game.test.tsx
  src/components/GameCard.test.tsx
  src/components/GamesList.test.tsx
  src/hooks/useLocalState.test.ts
  src/hooks/usePlayedCounts.test.ts
  src/lib/games.test.ts
Due: none

docs: document server, testing setup and correct check/CI descriptions
  CLAUDE.md
  README.md
Due: prettier

test: tighten Game and GameCard tests, fix server test docs
  CLAUDE.md
  src/components/Game.test.tsx
  src/components/GameCard.test.tsx
Due: prettier

test: close remaining coverage gaps and update testing docs (#39)
  CLAUDE.md
  README.md
  server/auth.test.ts
  server/static.test.ts
  src/App.test.tsx
  src/components/Game.test.tsx
  src/components/GameCard.test.tsx
  src/components/GamesList.test.tsx
  src/hooks/useLocalState.test.ts
  src/hooks/usePlayedCounts.test.ts
  src/lib/games.test.ts
Due: prettier

docs: split SPA on Netlify from API-only backend at api.lememcon.com
  CLAUDE.md
  PLAN.md
  README.md
Due: prettier

docs: clarify API topology assumption and CSRF behavior
  CLAUDE.md
  PLAN.md
  README.md
Due: prettier

docs: move backend to api subdomain and keep netlify for the frontend (#41)
  CLAUDE.md
  PLAN.md
  README.md
Due: prettier

feat(server): add role policy for member, admin and approval status
  server/roles.test.ts
  server/roles.ts
  server/types.ts
Due: none

feat(server): add app_user table, user store and pglite test project
  drizzle/0001_curved_prima.sql
  drizzle/0002_seed_protected_admins.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  server/db/schema.ts
  server/db/testDb.ts
  server/db/userStore.test.ts
  server/db/userStore.ts
  vite.config.ts
Due: prettier, test

feat(server): configure web origin and cookie domain instead of admin ids
  .env.example
  server/env.test.ts
  server/env.ts
Due: none
