Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

fix: accessible validation and unchanged-vs-BGG handling in player counts table
  src/components/admin/PlayerCountsTable.test.tsx
  src/components/admin/PlayerCountsTable.tsx
Due: none

feat(splits): show cover art and drop picked label
  src/assets/styles.css
  src/components/Scoreboard.test.tsx
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
Due: prettier

fix(splits): strengthen chosen-row cue and test
  src/assets/styles.css
  src/components/Scoreboard.test.tsx
Due: prettier

feat(splits): show cover art and drop picked label (#95)
  src/assets/styles.css
  src/components/Scoreboard.test.tsx
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
Due: prettier

fix: unhide games when own plays drop to zero
  CLAUDE.md
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/hooks/usePlayedCounts.test.ts
  src/hooks/usePlayedCounts.ts
  src/lib/games.ts
Due: prettier

feat: hide games played by any selected player
  CLAUDE.md
  server/db/playedStore.test.ts
  server/db/playedStore.ts
  server/routes/played.test.ts
  server/routes/played.ts
  server/testing.ts
  server/types.ts
  src/assets/styles.css
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/PlayedByList.test.tsx
  src/components/PlayedByList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/SplitSuggestions.test.tsx
  src/hooks/useAllPlayedCounts.test.ts
  src/hooks/useAllPlayedCounts.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: prettier

feat: hide games played by any selected player (#96)
  CLAUDE.md
  server/db/playedStore.test.ts
  server/db/playedStore.ts
  server/routes/played.test.ts
  server/routes/played.ts
  server/testing.ts
  server/types.ts
  src/assets/styles.css
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/PlayedByList.test.tsx
  src/components/PlayedByList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/SplitSuggestions.test.tsx
  src/hooks/useAllPlayedCounts.test.ts
  src/hooks/useAllPlayedCounts.ts
  src/hooks/usePlayedCounts.test.ts
  src/hooks/usePlayedCounts.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: prettier

fix(splits): only suggest two-group splits
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

fix(splits): only suggest two-group splits (#99)
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

feat(server): per-member player count overrides
  drizzle/0011_left_amazoness.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/memberOverrideStore.test.ts
  server/db/memberOverrideStore.ts
  server/db/schema.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/gamePlayers.test.ts
  server/routes/gamePlayers.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/memberOverrides.test.ts
  server/routes/memberOverrides.ts
  server/routes/played.test.ts
  server/routes/profile.test.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

feat: per-player player-count overrides on the game page and in suggestions
  src/assets/styles.css
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/MyPlayerRange.test.tsx
  src/components/MyPlayerRange.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/hooks/usePlayerOverrides.test.tsx
  src/hooks/usePlayerOverrides.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/playerOverridesApi.test.ts
  src/lib/playerOverridesApi.ts
  src/types.ts
  tests/e2e/fixtures.ts
Due: prettier

test: tighten player override tests
  src/components/Game.test.tsx
  src/components/MyPlayerRange.test.tsx
  src/lib/games.test.ts
  src/lib/games.ts
Due: none

feat: per-player player-count overrides (#101)
  drizzle/0011_left_amazoness.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/memberOverrideStore.test.ts
  server/db/memberOverrideStore.ts
  server/db/schema.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/gamePlayers.test.ts
  server/routes/gamePlayers.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/memberOverrides.test.ts
  server/routes/memberOverrides.ts
  server/routes/played.test.ts
  server/routes/profile.test.ts
  server/testing.ts
  server/types.ts
  src/assets/styles.css
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/MyPlayerRange.test.tsx
  src/components/MyPlayerRange.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/hooks/usePlayerOverrides.test.tsx
  src/hooks/usePlayerOverrides.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/playerOverridesApi.test.ts
  src/lib/playerOverridesApi.ts
  src/types.ts
  tests/e2e/fixtures.ts
Due: prettier, test

feat: collapse split suggestions by default
  src/assets/styles.css
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
Due: prettier

feat: collapse split suggestions by default (#102)
  src/assets/styles.css
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
Due: prettier

fix(splits): keep scores within 100
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
  src/hooks/useData.test.ts
  src/hooks/useData.ts
  src/lib/games.test.ts
  src/lib/games.ts
Due: none

fix(splits): keep scores within 100 (#103)
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
  src/hooks/useData.test.ts
  src/hooks/useData.ts
  src/lib/games.test.ts
  src/lib/games.ts
Due: none

refactor(server): remove admin player count overrides
  drizzle/0012_striped_maria_hill.sql
  drizzle/meta/0012_snapshot.json
  drizzle/meta/_journal.json
  server/app.ts
  server/db/dataStore.test.ts
  server/db/dataStore.ts
  server/db/memberOverrideStore.test.ts
  server/db/memberOverrideStore.ts
  server/db/read.ts
  server/db/schema.ts
  server/routes/data.test.ts
  server/routes/gamePlayers.test.ts
  server/routes/gamePlayers.ts
  server/routes/memberOverrides.test.ts
  server/routes/memberOverrides.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

refactor: remove admin player count overrides from the app
  src/assets/styles.css
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameDetailHeader.test.tsx
  src/components/GameDetailHeader.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/MyPlayerRange.test.tsx
  src/components/MyPlayerRange.tsx
  src/components/PlayerRange.test.tsx
  src/components/PlayerRange.tsx
  src/components/admin/PlayerCountsPanel.test.tsx
  src/components/admin/PlayerCountsPanel.tsx
  src/components/admin/PlayerCountsTable.test.tsx
  src/components/admin/PlayerCountsTable.tsx
  src/hooks/useGamePlayers.test.tsx
  src/hooks/useGamePlayers.ts
  src/lib/adminApi.test.ts
  src/lib/adminApi.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
  tests/e2e/fixtures.ts
  tests/e2e/scoreboard.spec.ts
Due: prettier

feat: shareable group link
  CLAUDE.md
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: prettier

test: restore group-size filter e2e check and rename bounds tests
  src/lib/games.test.ts
  tests/e2e/scoreboard.spec.ts
Due: none

fix: harden shared filter link
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: none

feat: shareable group link (#111)
  CLAUDE.md
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: prettier

feat(sort): add fairness sort modes and mode-aware split suggestions
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

feat(sort): carry the sort mode in the shareable link
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: none

feat(sort): add sort toggle and least-happy badge
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
Due: none

fix(splits): keep picked game visible, prune pick search, ignore junk sort links
  src/components/Scoreboard.test.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: none

feat: add fairness sort modes (#115)
  src/components/Filters.test.tsx
  src/components/Filters.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/routes.test.ts
  src/lib/routes.ts
  src/types.ts
Due: none

feat: add per-game totals across years
  server/app.ts
  server/db/dataStore.test.ts
  server/db/dataStore.ts
  server/db/read.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/testing.ts
  server/types.ts
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/Scoreboard.test.tsx
  src/components/YearSparkline.test.tsx
  src/components/YearSparkline.tsx
  src/hooks/useYearTotals.test.ts
  src/hooks/useYearTotals.ts
  src/lib/yearTotals.test.ts
  src/lib/yearTotals.ts
  src/types.ts
  tests/e2e/fixtures.ts
Due: none

fix: address review nits
  server/db/read.ts
  server/types.ts
  src/hooks/useYearTotals.test.ts
Due: none

feat: add per-game totals across years (#116)
  server/app.ts
  server/db/dataStore.test.ts
  server/db/dataStore.ts
  server/db/read.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/testing.ts
  server/types.ts
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/Scoreboard.test.tsx
  src/components/YearSparkline.test.tsx
  src/components/YearSparkline.tsx
  src/hooks/useYearTotals.test.ts
  src/hooks/useYearTotals.ts
  src/lib/yearTotals.test.ts
  src/lib/yearTotals.ts
  src/types.ts
  tests/e2e/fixtures.ts
Due: none

feat: add returning favorites and rising games panels
  src/components/Scoreboard.tsx
  src/components/YearTrends.test.tsx
  src/components/YearTrends.tsx
  src/lib/yearTrends.test.ts
  src/lib/yearTrends.ts
Due: none

refactor: keep played-count comment with its code
  src/components/Scoreboard.tsx
Due: none

fix: use previous held year for year trends
  src/components/YearTrends.test.tsx
  src/components/YearTrends.tsx
  src/lib/yearTrends.test.ts
  src/lib/yearTrends.ts
Due: none

feat: add returning favorites and rising games panels (#117)
  src/components/Scoreboard.tsx
  src/components/YearTrends.test.tsx
  src/components/YearTrends.tsx
  src/lib/yearTrends.test.ts
  src/lib/yearTrends.ts
Due: none

feat(server): add per-year member game vetoes
  drizzle/0013_cooing_annihilus.sql
  drizzle/meta/0013_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/memberVetoStore.test.ts
  server/db/memberVetoStore.ts
  server/db/schema.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/memberOverrides.test.ts
  server/routes/memberVetoes.test.ts
  server/routes/memberVetoes.ts
  server/routes/played.test.ts
  server/routes/profile.test.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

feat: let members veto games from suggestions
  src/assets/styles.css
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/MyVeto.test.tsx
  src/components/MyVeto.tsx
  src/components/ProfilePage.test.tsx
  src/components/ProfilePage.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/hooks/useMyVetoes.test.tsx
  src/hooks/useMyVetoes.ts
  src/hooks/useVetoes.test.tsx
  src/hooks/useVetoes.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/vetoesApi.test.ts
  src/lib/vetoesApi.ts
  src/types.ts
  tests/e2e/fixtures.ts
Due: prettier

fix: ignore stale veto refetch after year change
  src/hooks/useVetoes.test.tsx
  src/hooks/useVetoes.ts
Due: none

Path conditions:
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  test: any of: *.{js,mjs,cjs,jsx,json}
