Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

fix: keep flushing played counts after the year changes
  CLAUDE.md
  PLAN.md
  README.md
  src/components/Scoreboard.test.tsx
  src/hooks/usePlayedCounts.test.ts
  src/hooks/usePlayedCounts.ts
Due: prettier

feat: store played counts per member in the database (#73)
  CLAUDE.md
  PLAN.md
  README.md
  drizzle/0008_nervous_wolfpack.sql
  drizzle/meta/0008_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/playedStore.test.ts
  server/db/playedStore.ts
  server/db/schema.ts
  server/index.ts
  server/played.test.ts
  server/played.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/played.test.ts
  server/routes/played.ts
  server/routes/profile.test.ts
  server/testing.ts
  server/types.ts
  src/components/Scoreboard.test.tsx
  src/hooks/usePlayedCounts.test.ts
  src/hooks/usePlayedCounts.ts
  src/lib/playedMigration.test.ts
  src/lib/playedMigration.ts
  src/types.ts
Due: prettier, test

feat: show top games by year on public profile
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/components/PublicProfile.tsx
  src/components/TopGamesByYear.test.tsx
  src/components/TopGamesByYear.tsx
  src/types.ts
Due: none

fix: singular label for single-game years
  src/components/TopGamesByYear.test.tsx
  src/components/TopGamesByYear.tsx
Due: none

feat: show top games by year on public profile (#74)
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/components/PublicProfile.tsx
  src/components/TopGamesByYear.test.tsx
  src/components/TopGamesByYear.tsx
  src/types.ts
Due: none

feat: link several names to one member
  drizzle/0009_lively_abomination.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  server/db/dataStore.test.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/db/read.ts
  server/db/schema.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/hooks/useProfile.test.tsx
  src/types.ts
Due: prettier, test

feat: group player links by member in the admin panel
  src/components/admin/PlayerLinksPanel.test.tsx
  src/components/admin/PlayerLinksPanel.tsx
  src/hooks/usePlayerLinks.test.tsx
  src/hooks/usePlayerLinks.ts
  src/lib/playerLinks.test.ts
  src/lib/playerLinks.ts
Due: none

fix: resolve one name per member without a login row
  server/db/profileStore.ts
  server/db/read.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
Due: none

feat: link several names to one member (#77)
  drizzle/0009_lively_abomination.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  server/db/dataStore.test.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/db/read.ts
  server/db/schema.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/components/admin/PlayerLinksPanel.test.tsx
  src/components/admin/PlayerLinksPanel.tsx
  src/hooks/usePlayerLinks.test.tsx
  src/hooks/usePlayerLinks.ts
  src/hooks/useProfile.test.tsx
  src/lib/playerLinks.test.ts
  src/lib/playerLinks.ts
  src/types.ts
Due: prettier, test

feat: simplify player profile stats and add total plays
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/components/PublicProfile.tsx
  src/hooks/useProfile.test.tsx
  src/lib/profile.test.ts
  src/lib/profile.ts
  src/types.ts
Due: none

feat: simplify player profile stats and add total plays (#79)
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/routes/profile.test.ts
  server/shape.test.ts
  server/shape.ts
  server/types.ts
  src/components/PublicProfile.test.tsx
  src/components/PublicProfile.tsx
  src/hooks/useProfile.test.tsx
  src/lib/profile.test.ts
  src/lib/profile.ts
  src/types.ts
Due: none

feat: show discord avatars in ranking lists
  server/db/dataStore.test.ts
  server/db/read.ts
  server/db/testDb.ts
  server/routes/data.test.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
  server/types.ts
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
  src/components/PlayerScoresTable.test.tsx
  src/components/PlayerScoresTable.tsx
  src/components/ScorePopover.test.tsx
  src/components/ScorePopover.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

feat: show discord avatars in ranking lists (#81)
  server/db/dataStore.test.ts
  server/db/read.ts
  server/db/testDb.ts
  server/routes/data.test.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
  server/types.ts
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
  src/components/PlayerScoresTable.test.tsx
  src/components/PlayerScoresTable.tsx
  src/components/ScorePopover.test.tsx
  src/components/ScorePopover.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

fix(profile): count recorded plays from played_count
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/types.ts
  src/types.ts
Due: none

fix(profile): count recorded plays from played_count (#82)
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/types.ts
  src/types.ts
Due: none

feat(security): add security headers to API and static responses
  public/_headers
  server/app.test.ts
  server/app.ts
Due: none

feat(security): add Content-Security-Policy to static responses
  public/_headers
Due: none

feat(routes): add scoreboard path parser and builders
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: none

refactor: share request validation helpers in server/validate
  server/app.test.ts
  server/app.ts
  server/import.ts
  server/played.ts
  server/profile.ts
  server/roles.ts
  server/routes/links.ts
  server/routes/played.ts
  server/routes/profile.ts
  server/users.ts
  server/validate.test.ts
  server/validate.ts
Due: none

feat(routes): put the year in the URL
  src/components/AuthedApp.test.tsx
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/TopGamesByYear.test.tsx
  src/components/TopGamesByYear.tsx
  src/components/admin/AdminImport.test.tsx
  src/components/admin/AdminImport.tsx
Due: none

docs: describe the URL scheme
  README.md
Due: prettier

feat(security): return generic JSON 500 from the app error handler
  server/app.test.ts
  server/app.ts
Due: none

feat(security): time out score feed fetches
  server/bgg/needed.test.ts
  server/bgg/needed.ts
  server/db/import.ts
  server/db/linkStore.ts
  server/db/playedStore.ts
  server/db/profileStore.ts
  server/result.test.ts
  server/result.ts
  server/roles.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/routes/import.ts
  server/routes/links.ts
  server/routes/played.ts
  server/routes/profile.ts
  server/testing.ts
  server/users.ts
Due: none

fix(security): add rel=noopener noreferrer to external BGG link
  src/components/GameDetailHeader.test.tsx
  src/components/GameDetailHeader.tsx
Due: none

refactor: share API error messages in src/lib/apiErrors
  src/hooks/useAdminUsers.ts
  src/hooks/useDisplayName.ts
  src/hooks/usePlayerLinks.ts
  src/lib/apiErrors.test.ts
  src/lib/apiErrors.ts
  src/lib/bgg.ts
Due: none

fix(routes): clear players when a link opens another year
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
Due: none

fix: make readJson swallow all read errors and limit import exemption to POST
  server/app.test.ts
  server/app.ts
  server/import.ts
  server/validate.test.ts
  server/validate.ts
Due: none

feat(routes): put the year in the URL (#87)
  README.md
  src/components/AuthedApp.test.tsx
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/TopGamesByYear.test.tsx
  src/components/TopGamesByYear.tsx
  src/components/admin/AdminImport.test.tsx
  src/components/admin/AdminImport.tsx
  src/lib/routes.test.ts
  src/lib/routes.ts
Due: prettier

chore: harden server and share validation helpers (#88)
  public/_headers
  server/app.test.ts
  server/app.ts
  server/bgg/needed.test.ts
  server/bgg/needed.ts
  server/db/import.ts
  server/db/linkStore.ts
  server/db/playedStore.ts
  server/db/profileStore.ts
  server/import.ts
  server/played.ts
  server/profile.ts
  server/result.test.ts
  server/result.ts
  server/roles.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/routes/import.ts
  server/routes/links.ts
  server/routes/played.ts
  server/routes/profile.ts
  server/testing.ts
  server/users.ts
  server/validate.test.ts
  server/validate.ts
  src/components/GameDetailHeader.test.tsx
  src/components/GameDetailHeader.tsx
  src/hooks/useAdminUsers.ts
  src/hooks/useDisplayName.ts
  src/hooks/usePlayerLinks.ts
  src/lib/apiErrors.test.ts
  src/lib/apiErrors.ts
  src/lib/bgg.ts
Due: none

feat: suggest splits for 4+ players
  src/assets/styles.css
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: prettier

feat: suggest splits for 4+ players (#90)
  src/assets/styles.css
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/components/SplitSuggestions.test.tsx
  src/components/SplitSuggestions.tsx
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: prettier

fix(e2e): stop vite opening a browser and show failures in CI logs
  playwright.config.ts
Due: none

test: add playwright smoke tests
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/auth.spec.ts
  tests/e2e/fixtures.ts
  tests/e2e/scoreboard.spec.ts
  tsconfig.node.json
Due: prettier, eslint, test

test: add playwright smoke tests (#89)
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/auth.spec.ts
  tests/e2e/fixtures.ts
  tests/e2e/scoreboard.spec.ts
  tsconfig.node.json
Due: prettier, eslint, test

feat(server): store admin player count overrides and serve them in the games feed
  drizzle/0010_curly_multiple_man.sql
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
  server/app.ts
  server/db/dataStore.test.ts
  server/db/dataStore.ts
  server/db/read.ts
  server/db/schema.ts
  server/routes/data.test.ts
  server/routes/gamePlayers.test.ts
  server/routes/gamePlayers.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

feat: admin panel to restrict a game's player count
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/admin/PlayerCountsPanel.test.tsx
  src/components/admin/PlayerCountsPanel.tsx
  src/components/admin/PlayerCountsTable.test.tsx
  src/components/admin/PlayerCountsTable.tsx
  src/hooks/useGamePlayers.test.tsx
  src/hooks/useGamePlayers.ts
  src/lib/adminApi.test.ts
  src/lib/adminApi.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

feat: show restricted player ranges beside BGG's original
  src/assets/styles.css
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/GameCard.test.tsx
  src/components/GameCard.tsx
  src/components/GameDetailHeader.test.tsx
  src/components/GameDetailHeader.tsx
  src/components/GameRow.test.tsx
  src/components/GameRow.tsx
  src/components/GamesList.test.tsx
  src/components/GamesList.tsx
  src/components/PlayerRange.test.tsx
  src/components/PlayerRange.tsx
Due: prettier

test: cover restricted player counts end to end
  tests/e2e/fixtures.ts
  tests/e2e/scoreboard.spec.ts
Due: none

test: make override CHECK and BGG refresh tests exercise the real paths
  server/db/dataStore.test.ts
Due: none

fix: improve contrast of restricted player range and drop title attribute
  src/assets/styles.css
  src/components/PlayerRange.test.tsx
  src/components/PlayerRange.tsx
Due: prettier

Path conditions:
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  test: any of: *.{js,mjs,cjs,jsx,json}
