Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat(server): add approval gate, admin routes, cors and same-site csrf
  server/app.test.ts
  server/app.ts
  server/index.ts
  server/middleware.test.ts
  server/middleware.ts
  server/roles.ts
  server/testing.ts
  server/users.test.ts
  server/users.ts
  vite.config.ts
Due: none

feat(server): resolve users by discord id with approval status and harden auth
  server/auth.test.ts
  server/auth.ts
  server/db/auth.integration.test.ts
Due: none

docs: note pglite server tests and local dev prerequisites
  CLAUDE.md
  README.md
Due: prettier

feat(web): add api client, auth helpers and account hooks
  src/hooks/useAdminUsers.test.tsx
  src/hooks/useAdminUsers.ts
  src/hooks/useMe.test.tsx
  src/hooks/useMe.ts
  src/lib/api.test.ts
  src/lib/api.ts
  src/lib/auth.test.ts
  src/lib/auth.ts
  src/lib/users.test.ts
  src/lib/users.ts
  src/types.ts
  src/vite-env.d.ts
Due: none

feat(web): gate the app on login and add admin page
  src/App.test.tsx
  src/App.tsx
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/PendingApproval.test.tsx
  src/components/PendingApproval.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
Due: none

fix(server): persist Discord username and use overrideUserInfoOnSignIn
  server/auth.ts
  server/db/auth.integration.test.ts
  server/middleware.test.ts
  server/middleware.ts
Due: none

test(server): make the concurrency test honest and assert the FOR UPDATE lock query
  server/db/userStore.test.ts
  server/db/userStore.ts
Due: none

fix(web): handle unknown usernames and stale admin access after self-changes
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/hooks/useAdminUsers.test.tsx
  src/hooks/useAdminUsers.ts
  src/types.ts
Due: none

feat(db): add game_metadata and app_setting tables with bundled games seed
  drizzle/0003_bgg_data.sql
  drizzle/0004_seed_bundled_games.sql
  drizzle/meta/0003_snapshot.json
  drizzle/meta/0004_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  server/db/schema.ts
Due: prettier, test

feat(server): add key encryption, BGG client and needed-ids helpers
  server/bgg/client.test.ts
  server/bgg/client.ts
  server/bgg/needed.test.ts
  server/bgg/needed.ts
  server/secrets.test.ts
  server/secrets.ts
Due: none

feat(admin): add BGG key, status and download job API
  server/app.ts
  server/bgg/routes.test.ts
  server/bgg/routes.ts
  server/bgg/service.test.ts
  server/bgg/service.ts
  server/db/bggRepo.test.ts
  server/db/bggRepo.ts
  server/index.ts
  server/testing.ts
  server/types.ts
Due: none

feat(admin): add BGG admin API client, helpers and hooks
  src/hooks/useBggKey.test.tsx
  src/hooks/useBggKey.ts
  src/hooks/useBggStatus.test.tsx
  src/hooks/useBggStatus.ts
  src/lib/adminApi.test.ts
  src/lib/adminApi.ts
  src/lib/api.ts
  src/lib/bgg.test.ts
  src/lib/bgg.ts
  src/types.ts
Due: none

feat(admin): add BGG data panel to the admin page
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/admin/BggDataPanel.test.tsx
  src/components/admin/BggDataPanel.tsx
  src/components/admin/BggDataTable.test.tsx
  src/components/admin/BggDataTable.tsx
  src/components/admin/BggJobProgress.test.tsx
  src/components/admin/BggJobProgress.tsx
  src/components/admin/BggKeyCard.test.tsx
  src/components/admin/BggKeyCard.tsx
Due: none

docs: describe the BGG data admin
  README.md
Due: prettier

fix(admin): count partial games as missing in BGG totals and keep the view on failed refresh
  server/bgg/service.test.ts
  server/bgg/service.ts
  src/components/admin/BggDataPanel.test.tsx
  src/components/admin/BggDataPanel.tsx
  src/hooks/useBggStatus.test.tsx
  src/hooks/useBggStatus.ts
Due: none

fix(bgg): treat an empty items root as not-found and reject id 0
  server/bgg/client.test.ts
  server/bgg/client.ts
  server/bgg/needed.test.ts
  server/bgg/needed.ts
Due: none

fix(bgg): take the extension from the new image on upsert
  server/db/bggRepo.test.ts
  server/db/bggRepo.ts
  server/testing.ts
Due: none

fix(secrets): validate IV and auth tag length when decrypting
  server/secrets.test.ts
  server/secrets.ts
Due: none

feat(server): add year, game, player and score tables
  drizzle/0005_smooth_human_fly.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  server/db/schema.ts
Due: prettier, test

feat(server): validate and normalize game data uploads
  server/import.test.ts
  server/import.ts
  src/components/Scoreboard.test.tsx
Due: none

feat(server): serve game data and add the admin import endpoint
  server/app.test.ts
  server/app.ts
  server/db/dataStore.ts
  server/db/import.ts
  server/db/read.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/routes/import.test.ts
  server/routes/import.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
  server/types.ts
Due: none

test(server): cover the data store on PGlite
  server/db/dataStore.test.ts
Due: none

docs: document game data import, API proxy and deploy order
  CLAUDE.md
  README.md
  public/_redirects
Due: prettier

test(server): fix test typings
  server/routes/import.test.ts
  src/App.test.tsx
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/Game.test.tsx
  src/components/Game.tsx
  src/components/GamesList.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/Scoreboard.test.tsx
  src/components/Scoreboard.tsx
  src/hooks/useData.test.ts
  src/hooks/useData.ts
  src/hooks/useGames.test.ts
  src/hooks/useGames.ts
  src/hooks/useYears.test.ts
  src/hooks/useYears.ts
  src/lib/games.test.ts
  src/lib/games.ts
  src/lib/images.ts
  src/types.ts
Due: none

feat(web): load scores, years and game data from the API
  src/components/AuthedApp.test.tsx
Due: none

feat(web): add admin import page for score and game uploads
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/admin/AdminImport.test.tsx
  src/components/admin/AdminImport.tsx
  src/lib/api.test.ts
  src/lib/api.ts
  src/lib/importFile.test.ts
  src/lib/importFile.ts
  src/types.ts
Due: none

refactor(server): keep game metadata in game_metadata and reduce game to names
  CLAUDE.md
  README.md
  server/bgg/routes.test.ts
  server/db/bggRepo.ts
  server/db/dataStore.test.ts
  server/db/import.ts
  server/db/read.ts
  server/shape.test.ts
  server/shape.ts
  server/testing.ts
Due: prettier

fix: address review findings on the import and played counts
  README.md
  server/db/dataStore.test.ts
  server/db/import.ts
  server/import.test.ts
  server/import.ts
  server/shape.test.ts
  src/components/Scoreboard.test.tsx
  src/components/admin/AdminImport.test.tsx
  src/components/admin/AdminImport.tsx
  src/hooks/useLocalState.ts
  src/types.ts
Due: prettier

feat: link players to app members
  drizzle/0006_complex_elektra.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts-E
  server/app.ts
  server/bgg/routes.test.ts-E
  server/db/import.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/schema.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/links.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

feat: add player links panel to the admin page
  README.md
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/admin/PlayerLinksPanel.test.tsx
  src/components/admin/PlayerLinksPanel.tsx
  src/hooks/usePlayerLinks.test.tsx
  src/hooks/usePlayerLinks.ts
  src/types.ts
Due: prettier

fix: reset player link selection and drop stray backup files
  server/app.test.ts-E
  server/bgg/routes.test.ts-E
  src/components/admin/PlayerLinksPanel.test.tsx
  src/components/admin/PlayerLinksPanel.tsx
Due: none

feat: link players to app members (#49)
  README.md
  drizzle/0006_complex_elektra.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/import.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/schema.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/links.ts
  server/testing.ts
  server/types.ts
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/admin/PlayerLinksPanel.test.tsx
  src/components/admin/PlayerLinksPanel.tsx
  src/hooks/usePlayerLinks.test.tsx
  src/hooks/usePlayerLinks.ts
  src/types.ts
Due: prettier, test

refactor: remove the SPA from the backend
  .dockerignore
  CLAUDE.md
  Dockerfile
  PLAN.md
  README.md
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/static.test.ts
  server/static.ts
  server/types.ts
Due: prettier

refactor: remove the SPA from the backend (#50)
  .dockerignore
  CLAUDE.md
  Dockerfile
  PLAN.md
  README.md
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/index.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/static.test.ts
  server/static.ts
  server/types.ts
Due: prettier

feat(deploy): run migrations automatically at container start
  CLAUDE.md
  Dockerfile
  PLAN.md
  README.md
  server/migrate.ts
Due: prettier

feat(deploy): run migrations automatically at container start (#53)
  CLAUDE.md
  Dockerfile
  PLAN.md
  README.md
  server/migrate.ts
Due: prettier

docs: document proxy and cross-origin login modes
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  test: any of: *.{js,mjs,cjs,jsx,json}
