Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat: select players and see list
  package.json
  pnpm-lock.yaml
  sample-data.json
  src/App.jsx
  src/hooks/useData.js
Due: prettier, eslint, test

chore: add netlify badge to README
  README.md
Due: prettier

fix: better multiselect options
  src/App.jsx
Due: prettier, eslint, test

fix: do not hide selected players
  src/App.jsx
Due: prettier, eslint, test

fix: show all games when no players are selected
  src/App.jsx
Due: prettier, eslint, test

feat: local played count and hiding by that
  index.html
  src/App.jsx
  src/hooks/useLocalState.js
  src/hooks/usePlayedCounts.js
Due: prettier, eslint, test

feat: add manifest
  public/logo.png
  public/manifest.json
Due: prettier, test

feat: add manifest to header
  index.html
Due: none

fix: don't filter games out for 1 player selected
  src/App.jsx
Due: prettier, eslint, test

feat: game pages
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/components/Game.jsx
  src/hooks/useData.js
Due: prettier, eslint, test

chore: lots of tiny improvements
  src/App.jsx
  src/assets/styles.css
  src/components/Game.jsx
Due: prettier, eslint, test

chore: small view fixes
  src/App.jsx
  src/assets/styles.css
Due: prettier, eslint, test

chore: data update
  .gitignore
  src/assets/games.json
  src/assets/games/104581.jpg
  src/assets/games/1115.jpg
  src/assets/games/115746.jpg
  src/assets/games/120677.jpg
  src/assets/games/12750.jpg
  src/assets/games/151.jpg
  src/assets/games/165401.jpg
  src/assets/games/175914.png
  src/assets/games/175924.jpg
  src/assets/games/182874.jpg
  src/assets/games/275912.png
  src/assets/games/291572.jpg
  src/assets/games/359211.jpg
  src/assets/games/391752.jpg
  src/assets/games/4098.png
  src/assets/games/54138.jpg
  src/assets/games/73439.jpg
  src/assets/games/97683.jpg
Due: prettier, test

fix: fix FCM data
  src/assets/games.json
  src/assets/games/175914.png
  src/assets/games/175924.jpg
Due: prettier, test

fix: back button linking
  src/components/Game.jsx
Due: prettier, eslint, test

fix: favicon
  index.html
Due: none

fix: bottom back link
  src/components/Game.jsx
Due: prettier, eslint, test

fix: game image for rat race
  src/App.jsx
  src/assets/games.json
  src/assets/games/417258.png
  src/components/Game.jsx
Due: prettier, eslint, test

chore: add redirects file
  public/_redirects
Due: none

fix: squashed game images
  src/components/Game.jsx
Due: prettier, eslint, test

chore: update for 2026 data
  .gitignore
  package.json
  src/App.jsx
  src/components/Game.jsx
  src/hooks/useData.js
  src/hooks/usePlayedCounts.js
  src/util.jsx
  update.cjs
Due: prettier, eslint, test

chore: add powered by bgg image
  src/App.jsx
Due: prettier, eslint, test

chore: add image
  src/assets/bgg.svg
Due: none

fix: hide bgg logo when small
  src/App.jsx
Due: prettier, eslint, test

fix: headers for asset images
  public/_headers
Due: none

feat: add overall rank and individual player data
  src/App.jsx
Due: prettier, eslint, test

refactor: split App and Game into components with tests
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/assets/games.json
  src/components/BackButton.jsx
  src/components/Filters.jsx
  src/components/Filters.test.jsx
  src/components/Game.jsx
  src/components/GameDetailHeader.jsx
  src/components/GameDetailHeader.test.jsx
  src/components/GameRow.jsx
  src/components/GamesTable.jsx
  src/components/Header.jsx
  src/components/PlayedCounter.jsx
  src/components/PlayedCounter.test.jsx
  src/components/PlayerScoresTable.jsx
  src/components/Score.test.jsx
  src/components/ScorePopover.jsx
  src/lib/games.js
  src/lib/games.test.js
  src/test/setup.js
  src/test/utils.jsx
  vite.config.js
Due: prettier, eslint, test

refactor: simplify buildSelectedGames with plain loops
  src/lib/games.js
Due: prettier, eslint, test

chore: ignore .claude directory
  .gitignore
Due: none

ci: add github actions workflow and dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  eslint.config.js
Due: prettier, eslint, test

test: add coverage tooling and cover code above 80%
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.test.jsx
  src/components/BackButton.test.jsx
  src/components/Game.test.jsx
  src/components/GameRow.test.jsx
  src/components/GamesTable.test.jsx
  src/components/Header.test.jsx
  src/components/PlayerScoresTable.test.jsx
  src/components/ScorePopover.test.jsx
  src/hooks/useData.test.js
  src/hooks/useLocalState.test.js
  src/hooks/usePlayedCounts.test.js
  src/test/setup.js
  vite.config.js
Due: prettier, eslint, test

test: raise coverage thresholds to 90%
  src/App.test.jsx
  vite.config.js
Due: prettier, eslint, test

docs: add developer README
  README.md
Due: prettier

refactor: componentize App and Game, extract logic, add tests (#1)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/App.test.jsx
  src/assets/games.json
  src/components/BackButton.jsx
  src/components/BackButton.test.jsx
  src/components/Filters.jsx
  src/components/Filters.test.jsx
  src/components/Game.jsx
  src/components/Game.test.jsx
  src/components/GameDetailHeader.jsx
  src/components/GameDetailHeader.test.jsx
  src/components/GameRow.jsx
  src/components/GameRow.test.jsx
  src/components/GamesTable.jsx
  src/components/GamesTable.test.jsx
  src/components/Header.jsx
  src/components/Header.test.jsx
  src/components/PlayedCounter.jsx
  src/components/PlayedCounter.test.jsx
  src/components/PlayerScoresTable.jsx
  src/components/PlayerScoresTable.test.jsx
  src/components/Score.test.jsx
  src/components/ScorePopover.jsx
  src/components/ScorePopover.test.jsx
  src/hooks/useData.test.js
  src/hooks/useLocalState.test.js
  src/hooks/usePlayedCounts.test.js
  src/lib/games.js
  src/lib/games.test.js
  src/test/setup.js
  src/test/utils.jsx
  vite.config.js
Due: prettier, eslint, test

docs: add CI, coverage, and stack badges to README
  README.md
Due: prettier

docs: add CI, coverage, and stack badges to README (#10)
  README.md
Due: prettier

chore: bump vite 8, vitest 4, plugin-react-swc 4
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier, test

Path conditions:
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  test: any of: *.{js,mjs,cjs,jsx,json}
