Repository lememcon/games: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

test: keep CORS headers on csrf rejection and document login modes in .env.example
  .env.example
  server/app.test.ts
Due: none

docs: soften https wording for BETTER_AUTH_URL
  .env.example
  README.md
Due: prettier

docs: document proxy and cross-origin login modes (#54)
  .env.example
  README.md
  server/app.test.ts
Due: prettier

fix(auth): send failed Discord logins back to the SPA instead of the API host
  server/auth.test.ts
  server/auth.ts
  src/lib/auth.test.ts
  src/lib/auth.ts
Due: none

feat(auth): explain failed Discord sign-ins on the sign-in screen
  CLAUDE.md
  src/App.test.tsx
  src/App.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
  src/hooks/useAuthError.test.tsx
  src/hooks/useAuthError.ts
  src/lib/authError.test.ts
  src/lib/authError.ts
Due: prettier

fix(auth): leave URLs without an auth error untouched and tidy review nits
  server/auth.test.ts
  server/auth.ts
  src/App.tsx
  src/components/SignIn.test.tsx
  src/lib/authError.test.ts
  src/lib/authError.ts
Due: none

fix(auth): show a friendly error when Discord sign-in fails (#56)
  CLAUDE.md
  server/auth.test.ts
  server/auth.ts
  src/App.test.tsx
  src/App.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
  src/hooks/useAuthError.test.tsx
  src/hooks/useAuthError.ts
  src/lib/auth.test.ts
  src/lib/auth.ts
  src/lib/authError.test.ts
  src/lib/authError.ts
Due: prettier

feat: add navigation back from admin pages
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
Due: none

feat: add navigation back from admin pages (#59)
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/BackButton.test.tsx
  src/components/BackButton.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
Due: none

feat(db): add display names and one-to-one player links
  drizzle/0007_busy_crusher_hogan.sql
  drizzle/meta/0007_snapshot.json
  drizzle/meta/_journal.json
  server/db/schema.ts
Due: prettier, test

feat(server): validate display names and shape profile stats
  server/profile.test.ts
  server/profile.ts
  server/shape.test.ts
  server/shape.ts
Due: none

feat(server): store display names and resolve them in scores, links and imports
  server/db/dataStore.test.ts
  server/db/dataStore.ts
  server/db/import.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/profileStore.test.ts
  server/db/profileStore.ts
  server/db/read.ts
  server/db/userStore.test.ts
  server/db/userStore.ts
Due: none

feat(server): add profile routes and expose display names in /api/me and scores
  server/app.test.ts
  server/app.ts
  server/auth.test.ts
  server/auth.ts
  server/bgg/routes.test.ts
  server/index.ts
  server/middleware.test.ts
  server/routes/data.test.ts
  server/routes/data.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/profile.test.ts
  server/routes/profile.ts
  server/testing.ts
  server/types.ts
  server/users.test.ts
  server/users.ts
Due: none

feat(spa): carry display-name types and discord ids through score rows
  src/lib/games.test.ts
  src/lib/games.ts
  src/types.ts
Due: none

feat(spa): add profile and display-name hooks
  src/hooks/useDisplayName.test.tsx
  src/hooks/useDisplayName.ts
  src/hooks/useProfile.test.tsx
  src/hooks/useProfile.ts
  src/lib/profile.test.ts
  src/lib/profile.ts
Due: none

feat(spa): link linked players to their profile
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
  src/components/PlayerScoresTable.test.tsx
  src/components/PlayerScoresTable.tsx
  src/components/ScorePopover.test.tsx
  src/components/ScorePopover.tsx
  src/components/Scoreboard.tsx
  src/lib/playerColors.test.tsx
  src/lib/playerColors.ts
Due: none

feat(spa): add profile pages and routes
  src/App.test.tsx
  src/App.tsx
  src/components/AuthedApp.test.tsx
  src/components/AuthedApp.tsx
  src/components/ProfilePage.test.tsx
  src/components/ProfilePage.tsx
  src/components/PublicProfile.test.tsx
  src/components/PublicProfile.tsx
  src/components/StatTile.test.tsx
  src/components/StatTile.tsx
Due: none

feat(spa): link the account menu and admin rows to profiles
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/Scoreboard.test.tsx
  src/hooks/useAdminUsers.test.tsx
  src/lib/users.test.ts
Due: none

docs: document display names and profiles
  CLAUDE.md
  README.md
Due: prettier

fix(server): close display-name impersonation gaps
  server/db/dataStore.test.ts
  server/db/import.ts
  server/db/linkStore.test.ts
  server/db/linkStore.ts
  server/db/profileStore.ts
  server/profile.test.ts
  server/profile.ts
  server/routes/links.test.ts
  server/testing.ts
Due: none

feat: restyle login page and update app logo
  public/logo.png
  src/assets/logo.png
  src/components/Header.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
Due: none

feat: restyle login page and update app logo (#63)
  public/logo.png
  src/assets/logo.png
  src/components/Header.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
Due: none

chore(deps): override vulnerable esbuild copies in dev tooling
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps): update dependencies within semver ranges
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps-dev): bump @eslint/js to 10
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps): bump lucide-react to 1.x
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps-dev): bump vitest and @vitest/coverage-v8 to 5
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps-dev): bump jsdom to 30
  package.json
  pnpm-lock.yaml
  src/components/BackButton.test.tsx
Due: prettier, test

chore(deps-dev): bump @testing-library/jest-dom to 7
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(deps): bump @mantine/core and @mantine/hooks to 9
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/components/AdminPage.test.tsx
  src/components/AuthedApp.test.tsx
  src/components/Header.test.tsx
  src/components/admin/PlayerLinksPanel.test.tsx
Due: prettier, test

chore(deps): upgrade dependencies to latest versions (#65)
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/components/AdminPage.test.tsx
  src/components/AuthedApp.test.tsx
  src/components/BackButton.test.tsx
  src/components/Header.test.tsx
  src/components/admin/PlayerLinksPanel.test.tsx
Due: prettier, test

feat: frame the logo with a border, radius and shadow
  src/assets/styles.css
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
Due: prettier

feat: frame the logo with a border, radius and shadow (#70)
  src/assets/styles.css
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/SignIn.test.tsx
  src/components/SignIn.tsx
Due: prettier

feat: underline linked player names on game detail
  src/components/Game.test.tsx
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
Due: none

fix: show discord names for linked players in scores
  server/db/dataStore.test.ts
  server/db/profileStore.test.ts
  server/db/read.ts
  server/shape.test.ts
  server/shape.ts
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
Due: none

feat: underline linked player names on game detail (#71)
  src/components/Game.test.tsx
  src/components/PlayerName.test.tsx
  src/components/PlayerName.tsx
Due: none

fix: show discord names for linked players in scores (#72)
  server/db/dataStore.test.ts
  server/db/profileStore.test.ts
  server/db/read.ts
  server/shape.test.ts
  server/shape.ts
  src/components/AdminPage.test.tsx
  src/components/AdminPage.tsx
Due: none

feat(server): store and serve each member's played counts
  drizzle/0008_nervous_wolfpack.sql
  drizzle/meta/0008_snapshot.json
  drizzle/meta/_journal.json
  server/app.test.ts
  server/app.ts
  server/bgg/routes.test.ts
  server/db/playedStore.test.ts
  server/db/playedStore.ts
  server/db/schema.ts
  server/index.ts
  server/played.test.ts
  server/played.ts
  server/routes/data.test.ts
  server/routes/import.test.ts
  server/routes/links.test.ts
  server/routes/played.test.ts
  server/routes/played.ts
  server/routes/profile.test.ts
  server/testing.ts
  server/types.ts
Due: prettier, test

feat: keep played counts on the server per member
  CLAUDE.md
  PLAN.md
  README.md
  src/components/Scoreboard.test.tsx
  src/hooks/usePlayedCounts.test.ts
  src/hooks/usePlayedCounts.ts
  src/lib/playedMigration.test.ts
  src/lib/playedMigration.ts
  src/types.ts
Due: prettier
